<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tedu.pm.mapper.EmpMapper">
    <resultMap type="Emp" id="EmpRM" autoMapping="true">
        <id column="FUserID" property="FUserID"/>
        <association property="dept" javaType="Dept">
            <id column="FID" property="FID"/>
            <result column="d_fName" property="FName"/>
        </association>
        <association property="FHiLevel" javaType="Emp">
            <id column="F_id" property="FUserID"/>
            <result column="F_Name" property="FName"/>
        </association>
    </resultMap>
    <select id="findAll" resultMap="EmpRM">
      	SELECT * FROM
(SELECT * FROM
tbl_emp e
	LEFT JOIN
(SELECT FUserID F_id,FName F_name FROM tbl_emp)p
	ON
	p.F_id=e.FHiLevel) e
		LEFT JOIN
	(SELECT FID,FName d_fName FROM tbl_department) d
		ON
	e.FDeptID=d.FID
    </select>

    <insert id="add">
  INSERT INTO  tbl_emp(FUserID,FSex,FName,FJobNum,FMobile,FHiLevel,FEmail,FState,FEntryDate)
VALUES (#{FUserID},#{FSex},#{FName},#{FJobNum},#{FMobile},#{FHiLevel},#{FEmail},#{FState},#{FEntryDate})
    </insert>
</mapper>