body{ background:#f5f8fa;}
.header{ width:100%; min-width:1200px; height:100px;}
.header .con{ width:1200px; margin:0 auto; }
.logo{ float:left; margin:32px 0 0 20px; }
.header .con a.dl{ width:72px; line-height:30px; border:1px solid #d8d8d8; -webkit-border-radius:2px; border-radius:2px; display:block; float:right; text-align:center;  margin-top:34px;}

.login_bg{ background:url(../images/login_bg.jpg) no-repeat center #11a1f6; width:100%; min-width:1200px; height:200px;} 

.establish{ width:360px; margin:0 auto; border-radius:4px; -webkit-box-shadow:0 0 15px 2px rgba(0,0,0,.1); box-shadow:0 0 15px 2px rgba(0,0,0,.1); margin-top:-120px; padding:25px 0 60px 0;}
.establish .con{ width:300px; margin:0 auto; }
.establish .con h1{ font-size:14px; font-weight:bold;}
.establish .con ul li{ padding-top:22px; clear:both; position:relative; }
.establish .con ul .txt{ height:28px; line-height:28px; padding:5px 10px; border:1px solid #d8d8d8; -webkit-border-radius:2px; border-radius:2px; -webkit-box-shadow:0 0px 1px 0px rgba( 0,0,0,.1) inset; box-shadow:0 0px 1px 0px rgba( 0,0,0,.1) inset; font-size:13px; width:278px;  color:#666;}
.establish .con ul .txt.w2{ width:152px; }
.establish .con ul .emillink{ width:114px;  height:40px; line-height:30px; cursor:pointer; border:1px solid #d8d8d8; -webkit-border-radius:2px; border-radius:2px; text-align:center; color:#666; float:right; }
.establish .con ul .emillink2{ width:114px;  height:40px; line-height:30px; cursor:pointer; border:1px solid #d8d8d8; -webkit-border-radius:2px; border-radius:2px; text-align:center; color:#666; float:right; background:#e7e9eb;}

.establish .con ul .btn{ background:#ff4200; text-align:center; font-size:14px; color:#fff; cursor:pointer; -webkit-border-radius:2px; border-radius:2px; width:300px; height:40px; }
.establish .con ul .btn:hover{ background:#ff5d24;}
.establish .con ul .btn:disabled{ background:#d7d9db;}
.establish .con ul p{ text-align:center; color:#666;}
.establish .con ul p a{ color:#1663c2;}
.establish .con ul p a:hover{ text-decoration:underline;}
.establish .con ul label.checkbox {  cursor:pointer;background: url(../images/checkbox.png) no-repeat 0 -16px; line-height:18px; height:16px; display:inline-block;  padding-left:27px;} 
.establish .con ul label.checked {background-position:0 0;   } 

.establish .con dl.chengg{ text-align:center;}
.establish .con dl.chengg h2{ font-size:14px; color:#333; font-weight:bold; margin-top:20px;}  
.establish .con dl.chengg a.bt{ background:#ff4200; text-align:center; font-size:14px; color:#fff; display:inline-block; padding:0 40px; line-height:40px; -webkit-border-radius:2px; border-radius:2px; margin-top:15px; }
.establish .con dl.chengg a.bt:hover{ background:#ff5d24;}
.establish .con dl.chengg p a{ color:#1663c2;}
.establish .con dl.chengg p a:hover{ text-decoration:underline;}

/*电话下拉选择*/


.searchTxt{float:left;width:298px;height:38px;  border:1px solid #d8d8d8; -webkit-border-radius:2px; border-radius:2px; -webkit-box-shadow:0 0px 1px 0px rgba( 0,0,0,.1) inset; box-shadow:0 0px 1px 0px rgba( 0,0,0,.1) inset; position:relative;z-index:20;background:#fff;}
.searchTxtHover{float:left;width:298px;height:38px;border:1px solid #d8d8d8; -webkit-border-radius:2px; border-radius:2px; -webkit-box-shadow:0 0px 1px 0px rgba( 0,0,0,.1) inset; box-shadow:0 0px 1px 0px rgba( 0,0,0,.1) inset; position:relative;z-index:20;background:#fff;}
 
.searchBtn button,.searchTxt .searchMenu .searchSelected{ background:url(../images/up1.png) no-repeat right center; display:inline-block; width:7px; height:4px;}
.searchTxt .searchMenu{float:left;}
.searchTxt .searchMenu .searchSelected{color:#a8a8a8;cursor:pointer;font-size:13px; height:38px;line-height:38px;padding:0 10px;width:49px;}
.searchTxt .searchMenu .searchSelected{ background:url(../images/up1.png) no-repeat right center; }
.searchTxt .searchMenu .searchOpen{ background:url(../images/down1.png) no-repeat right center;}

.searchTxt .searchMenu .searchTab{ display:none; position:absolute;top:40px;left:-2px; border:1px solid #ececec;border-top:0;background:#fff;height:175px;z-index:20; -webkit-box-shadow:0 0 3px 1px rgba(0,0,0,.1);  box-shadow:0 0 3px 1px rbga(0,0,0,.5); }
.searchTxt .searchMenu .searchTab li{width:258px; padding:0 20px; height:33px;line-height:33px;color:#a8a8a8;font-size:13px;  cursor:pointer; margin:0; color:#333; clear:both;}
.searchTxt .searchMenu .searchTab li span{ width:45px; display:block; float:left;}
.searchTxt .searchMenu .searchTab li em{ width:100px; float:left; display:block; margin-left:20px; }
.searchTxt .searchMenu .searchTab li i{ width:80px; text-align:right; display:block; float:right; color:#999;}
.searchTxt .searchMenu .searchTab li.selected{background:#edf3fc; }

.searchTxt input{ width:198px; height:38px; line-height:38px;  padding:0 10px;border:0;background:#fff; border-left:1px solid #d8d8d8; margin-left:10px; font-size:12px; color:#666;}
.searchTxt input:focus{ background:#f5f8fa;}

.login{ background:url(../images/logindbg.png) no-repeat center #15b0f8; width:100%; min-width:1200px; height:620px; clear:both;}
.login_con{ width:1200px; margin:0 auto;} 
.login_con .establish{ margin-top:83px; float:right;}

.choose_company{ width:440px; height:248px; background:#fff; border-radius:4px; -webkit-box-shadow:0 0 25px 1px rgba(0,0,0,.1); box-shadow:0 0 25px 1px rgba(0,0,0,.1); margin:110px auto 200px auto; overflow:hidden;} 
.choose_company .top{ width:400px; margin:0 auto; overflow:hidden; margin-top:15px;} 
.choose_company .top h1{ font-size:14px; float:left;} 
.choose_company .top a{ font-size:20px; float:right; color:#a1a1a1;}
.choose_company ul{ text-align:center;}
.choose_company ul a{ width:300px; line-height:33px; display:block; text-align:center; border:1px solid #d8d8d8; border-radius:33px; margin:0 auto; margin-top:20px; color:#333;}
.choose_company ul a:hover{ background:#f1f4f6;}

.foot{ width:100%; clear:both; text-align:center; color:#999; line-height:20px; font-size:12px; margin-top:60px;}