.header{ width:100%; height:66px; background:#fff; border-bottom:1px solid #d9dadd; -webkit-box-shadow:0 0px 2px 1px rgba(0,0,0,.1); box-shadow:0 0px 2px 0px rgba(0,0,0,.1); position:fixed; top:0; left:0; min-width:1200px; z-index:100;  }
.header a{  -webkit-transition:all 0.3s ease; transition:all 0.3s ease;}
.header p.first{ position:absolute; top:0; left:30px; line-height:66px;}
.header p.first a i{ background:url(../images/icon.png) no-repeat; width:9px; height:6px; display:inline-block; margin-left:10px; vertical-align:2px;}
.header p.first a:hover i{ background-position:-25px 0;}
.menu{ width:600px; position:absolute; left:50%; margin-left:-390px;}
.menu li{ float:left; line-height:66px; margin-left:35px;}
.menu li a i{ background:url(../images/icon.png) no-repeat; display:inline-block; width:18px; height:18px; margin-right:6px; vertical-align:-4px;}
.menu li a i.b1{ background-position:-165px -463px; vertical-align:-5px;}
.menu li a i.b2{ background-position:0 -40px; vertical-align:-5px;}
.menu li a i.b3{ background-position:0 -63px;}
.menu li a i.b4{ background-position:0 -91px; vertical-align:-5px;}
.menu li a i.b5{ background-position:0 -114px;}

.menu li a:hover i.b1{ background-position:-139px -463px;}
.menu li a:hover i.b2{ background-position:-23px -40px;}
.menu li a:hover i.b3{ background-position:-23px -63px;}
.menu li a:hover i.b4{ background-position:-23px -91px;}
.menu li a:hover i.b5{ background-position:-23px -114px;}

.menu li.on a{ color:#f86928; font-weight:bold;}
.menu li.on a i.b1{ background-position:-139px -463px;}
.menu li.on a i.b2{ background-position:-23px -40px;}
.menu li.on a i.b3{ background-position:-23px -63px;}
.menu li.on a i.b4{ background-position:-23px -91px;}
.menu li.on a i.b5{ background-position:-23px -114px;}

.header .right_cor .row{  position:relative; width:198px; height:32px; border:1px solid #d9e0e4; -webkit-border-radius:2px; border-radius:2px; margin:16px 0px 0 0; float:left; overflow:hidden;}
.header .right_cor .row input{ font-size:12px; width:153px; padding:8px 10px 5px 35px; background:none;}
.header .right_cor .row i{ background:url(../images/icon.png) no-repeat 0 -165px; width:16px; height:16px; display:block; position:absolute; left:10px; top:8px;}
.header .news_b{ float:left; position:relative; line-height:66px;}
.header .news_b i{ background:url(../images/icon.png) no-repeat 0 -142px; width:16px; height:12px; display:inline-block; margin-right:5px;}
.header .news_b em{ background:#f74d00; color:#fff; font-size:0; width:20px; height:20px; line-height:22px; text-align:center; display:block; position:absolute; top:10px; right:-10px; -webkit-border-radius:50%; border-radius:50%;}
.header .man{ float:right; line-height:66px; margin:0 30px 0 30px;}
.header .man a i{ background:url(../images/icon.png) no-repeat; width:9px; height:6px; display:inline-block; margin-left:10px; vertical-align:2px;}
.header .man a:hover i{ background-position:-25px 0;}