.place{ width:100%; color:#666; margin:0 auto; margin-top:20px;}
.place a{ color:#666;}
.place a:hover{ text-decoration:underline;}

.details_box img{ max-width:100%;}
.details_left{ width:820px; float:left; }
.details_txt h1{ font-size:26px; line-height:30px; margin:30px auto 20px auto;}
.details_txt .top p{ font-size:14px; color:#666;}
.details_txt .top p a{ border:1px solid #e4e4e4; display:inline-block; width:68px; height:26px; font-size:12px; color:#666; border-radius:2px; text-align:center; margin-left:10px;}
.details_txt .top p a i{ background:url(../images/icon.png) no-repeat -24px 0; width:16px; height:16px; display:inline-block; margin-right:5px; vertical-align:-5px;}
.details_txt .top .hui{ background:#f8f8f8; padding:20px; border:1px solid #e7e7e7; font-size:14px; line-height:28px; margin-top:20px; }
.details_txt .con{ margin-top:20px; border-bottom:1px solid #e1e1e1; padding-bottom:30px;}
.details_txt .con p{ font-size:14px; line-height:32px; }


.dashang{ width:100%; clear:both; margin-top:30px;}
.dashang h1{ font-size:16px;}
.dashang .con{ text-align:center;}
.dashang .con a{ display:inline-block; width:80px; height:80px; border-radius:50%; overflow:hidden; font-size:14px; margin:30px 50px;}
.dashang .con a.b1{ background:#1365b4; color:#fff;}
.dashang .con a.b2{ background:#fae5ab; color:#f45858;}
.dashang .con a i{ background:url(../images/icon.png) no-repeat -24px 0; width:30px; height:30px; display:block; margin:15px auto 0 auto;} 
.dashang .con a.b1 i{ background-position:-45px 0;}
.dashang .con a.b2 i{ background-position:-88px 0; width:36px;}

.yinxiang h1{ font-size:16px; border-bottom:1px solid #e1e1e1; margin-top:30px; padding-bottom:10px; }
{ background:#eff6fa;}
.yinxiang div.ren{ margin-top:20px;}
.yinxiang div.ren em{ font-size:14px; background:#eff6fa; display:inline-block; border:1px solid #a3b1ca; padding:0 10px; color:#627aa8; line-height:30px; border-radius:2px; margin:10px 20px 0 0;}
.yinxiang h3{ font-size:12px; margin-top:20px;}
.yinxiang div.kan i{ font-size:14px; background:#fff; display:inline-block; border:1px solid #e4e4e4; padding:0 10px; color:#666; line-height:30px; border-radius:2px; margin:10px 20px 0 0;}
.yinxiang div.kan .add{ width:198px; display:inline-block; }
.yinxiang div.kan .add .inputtxt{ width:96px; padding:0 10px; border-radius:2px 0 2px 0; height:30px; border:1px solid #e4e4e4; border-right:0; }
.yinxiang div.kan .add .submit{ background:#1365b4; height:32px; text-align:center; line-height:32px; color:#fff; width:80px; vertical-align:-1px;  border-radius:0 2px 0 2px; cursor:pointer; }
.yinxiang div.kan .add .submit:hover{ background:#0f5fac;}

.discuss .top{ font-size:16px; border-bottom:1px solid #e1e1e1; margin-top:30px; padding-bottom:10px; }
.discuss .list{ overflow:hidden; width:100%; clear:both;  border-bottom:1px solid #e1e1e1; padding:30px 0; position:relative;}
.discuss .list .pic{ min-height:50px; position:absolute; top:30px; left:20px;  }
.discuss .list .pic img{ width:50px; height:50px; border-radius:50%; overflow:hidden;  }
.discuss .list ul{font-size:14px; margin-left:90px; }
.discuss .list ul li p{ margin-bottom:20px;}
.discuss .list ul li span{ color:#666;}
.discuss .list ul li a.hui { color:#666; margin-left:10px;}
.discuss .list ul li a.hui:hover{ text-decoration:underline; }
.discuss .list ul li p.huid{ background:#f8f8f8; padding:10px 20px; border:1px solid #e7e7e7; font-size:14px; line-height:28px; margin-top:5px; border-radius:4px; margin-bottom:15px;}

.discuss .more{ width:118px; line-height:30px; border:1px solid #d8d8d8; display:block; margin:30px auto; border-radius:20px; text-align:center;} 

.discuss_bottom{ width:100%; position:relative; padding-bottom:150px;}
.discuss_bottom dl{ position:absolute; left:20px; top:0; float:left; min-height:50px; text-align:center;}
.discuss_bottom dl dd img{ width:50px; height:50px; border-radius:50%; overflow:hidden;  }
.discuss_bottom ul{font-size:14px; margin-left:90px; }
.discuss_bottom ul textarea{ width:96%;height:122px;  border:1px solid #e1e1e1; padding:15px 2%;}
.discuss_bottom ul .submit{ background:#1365b4;  height:32px; text-align:center; line-height:32px; color:#fff; width:90px; vertical-align:-1px;  border-radius:2px; cursor:pointer; float:right; margin-top:10px; }
.discuss_bottom ul .submit:hover{ background:#0f5fac;}


.details_right{ width:230px; float:right; }
.sanfeng dl{ width:100%; text-align:center; font-size:18px; line-height:40px;}
.sanfeng dl dd img{   width:120px; height:120px; overflow:hidden; border-radius:50%; margin:0 auto;}
.sanfeng ul{ width:100%; line-height:26px;}
.sanfeng a.xx{ width:88px; line-height:26px; border:1px solid #d8d8d8; display:block; margin:20px auto 0 auto; border-radius:20px; text-align:center;}

.article{ width:100%; margin-top:30px;}
.article .top { border-bottom:1px solid #e1e1e1; overflow:hidden; padding-bottom:5px;}
.article .top h1{ font-size:14px; float:left;}
.article .top a{ float:right;}
.article ul{ line-height:28px; margin-top:10px;}
.details_right_banner{ margin-top:20px;}

@media (max-width:1110px){
.place{ width:95%;}
.details_box{ width:95%; position:relative;}
.details_left{ width:auto; margin-right:260px; }
.details_right{ width:230px; position:absolute; top:60px; right:0;  }

}

@media (max-width:760px){
.details_box{ width:95%; position:relative;}

.details_left{ width:100%; margin:0 auto 0 auto; float:none; }

.details_right{ width:100%; clear:both; margin-top:0; position:inherit; top:0; right:0; float:none; margin-bottom:30px; }
..details_right_banner{ width:100%;}
.details_right_banner img{ width:100%;}
.yinxiang div.kan .add{ display:block; margin-top:10px;}
.discuss_bottom ul textarea{ width:95%}
.discuss_bottom{ padding-bottom:40px;}
}

@media (max-width:470px){
 .details_txt h1{ font-size:17px;}
 .dashang .con a{ margin:20px 15px;}
 .discuss .list .pic{ left:0;}
 .discuss .list ul{ margin-left:70px;}
 .discuss_bottom dl{ left:0;}
 .discuss_bottom ul{ margin-left:70px;}
}